 
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Broken Wiki</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Broken Wiki</h1>
  <br>
  <br>
  <!-- Search form -->
    <div class="active-cyan-3 active-cyan-4 mb-4" style="width: 55%;margin: auto;">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      <br>
      <button type="button" class="btn btn-secondary"> Enter </button>
    
    </div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>What is "Broken Wiki?</h3>
      <p>"Broken Wiki" help you to see if a Wikepedia page is reliable.</p>
      <p>"Broken Wiki" tracks, from which person it has been edited how many times.
      <br> 
     
    </div>
    <div class="col-sm-4">
      <h3>Was ist "Broken Wiki?</h3>
      <p>"Broken Wiki" hilft dir, zu sehen ob ein Wikepedia-Artikel verlässlich ist.</p>
      <p>"Broken Wiki untersucht, welche Person es wie oft bearbeitet hat. </p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
  <br>
  <br>
  <div class="text-center">
    <h3><b>Disclaimer</b></h3>
    <p>This page don't say you to 100% that the Wikepedia page is fake.
    </p>
    <br>
    <p>Diese Seite hat keine 100% Trefferchance, dass der Wikepedia-Artikel manipuliert wurde. </p>
  </div>
</div>

</body>
<script>
  
</script>
</html>

    